#charset "utf-8";
#container{
    color: red;
}
#canvas{
    height: 100%;
    width: 100%;
    outline: #a8d1ff;
}

.body{
    left: 0;
    top: 0;

}

#yolo{
    text-transform: capitalize;
}

#yolt{
    color: white;
    outline: #a8d1ff;
}

#die{
    color: white;
    outline: #a8d1ff;
}

#shop{
    color: white;
    outline: #a8d1ff;
}
