#charset "utf-8";
#container{
 color: red;
}
#canvas{
    height: 100%;
    width: 100%;
}

#topbar{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 32px;
}

#yolo{
    text-transform: capitalize;
}
